* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    transition: background .3s;
    color: black;
}

img {
    width: 100%;
    height: auto;
}

.clear {
    clear: both;
}

.activePage {
    background: gray;
}

/* header block */
.header {
    position: fixed;
    background: #0552aa;
    width: 100%;
    border-bottom: 2px solid #acacac;
    z-index: 10;
}

.wrapper {
    max-width: 1366px;
    margin: 0 auto;
    padding: 50px 100px;
}

.headerBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo block */
.logo h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
}

.logo h1 span {
    display: block;
    font-weight: 400;
}

.logo .info p {
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 15px;
}

.logo .info span {
    font-weight: normal;
}

/* menu block */
.menu li {
    display: inline-block;
}

.menu ul li a {
    display: block;
    padding: 5px 10px;
}

.menu ul li a:hover {
    background: gray;
}

/*main block*/
.main {
    padding-top: 214px;
}

.main .photo {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
    float: left;
    margin-right: 20px;
}

.photo2 {
    width: 600px;
    height: 300px;
    overflow: hidden;
    margin-bottom: 10px;
    float: left;
    margin-right: 20px;
}

/* footer block*/
.footer {
    border-top: 2px solid #acacac;
    text-align: center;
}

/*cubelist - списки кубов*/
.cubefirst {
    width: 800px;
    height: 800px;
    background: #333333;
    margin: 0 auto;
    position: relative;
}

.redcube {
    width: 450px;
    height: 450px;
    background: red;
    position: absolute;
    top: 35px;
    left: 40px;
}

.bluecube {
    width: 450px;
    height: 450px;
    background: blue;
    position: absolute;
    bottom: 50px;
    left: 10px;
}

.greencube {
    width: 450px;
    height: 450px;
    background: green;
    position: absolute;
    top: 40px;
    right: 40px;
}

.yellowcube {
    width: 450px;
    height: 450px;
    background: yellow;
    position: absolute;
    bottom: 10px;
    right: 5px;
}
.redcube:hover {
    z-index: 4;
    box-shadow: 10px 10px 10px #000;
}

.bluecube:hover {
    z-index: 3;
    box-shadow: 10px 10px 10px #000;
}

.greencube:hover {
    z-index: 2;
    box-shadow: 10px 10px 10px #000;
}

.yellowcube:hover {
    z-index: 1;
    box-shadow: 10px 10px 10px #000;
}

.circle {
    width: 180px;
    height: 180px;
    background: #777777;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    right: 40px;
}